<div class="side-header">
  <div class="header-name">
    <a href="#">ユーザ名</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>  
</div>

<div class="side-bottom">
  <div class="chat-room">
    <a href="#">techroom1</a>
  </div>
  <div class="chat-room">
    <a href="#">techroom2</a>
  </div>
    
</div>